body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.minari-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 46px;
  height: 100%;
}

.minari-nav-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.minari-hashtag-container {
  background-color: #1DA1F2;
  height: 64px;
  width: 981px;
  margin: auto;
  width: 100%;
}

.minari-hashtag {
  margin: 0;
  padding-left: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  font-size: 21px;
  font-weight: 600;
}

.margin-icon {
  margin-right: 5px;
}

.margin-second-nav {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minari-content-container {
  padding: 5rem;
}

.second-nav {
  padding-left: 4rem;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  font-size: 15px;
  color: gray;
  font-weight: 600;
}

.minari-hr {
  border-bottom: 1px solid gray;
  margin: -1px;
}